
.container{
    border: 1px solid;
    height: auto;
    width: 800px;
    margin-left: px;
    border-radius: 5PX;
}
body {
    font-family: Arial, sans-serif;
    margin: 0px;
    padding: 0px;
    line-height: 1.6;
    background-color: rgba(5, 4, 52, 0.993);
    color: aliceblue;
}
h1, h2 {
    text-align: center;
}
.section {
    margin-bottom: 20px;
}
ul{
    text-decoration: none;
    text-transform: none;
}
.c1{
    border: 1px solid rgb(255, 255, 255);
    height: 150px;
    width: 150px;
    border-radius:100px ;
}
.logo{
    height: 150px;
    width: 150px;
    border-radius:100px ;
}