body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgba(5, 4, 52, 0.993);
}

.container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color:#00abf0;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #ffffff;
}

.skill {
    margin-bottom: 20px;
    padding: 20px;
    background-color: rgba(5, 4, 52, 0.993);
    border-radius: 8px;
}

.skill h2 {
    color: #eeeded;
}

.skill p {
    color: #fcd602;
}
.skill-bar {
    width: 300px;
    height: 20px;
    background-color: #ddd;
    position: relative;
    overflow: hidden;
    border-radius: 5px;
}

.skill-bar::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: #4CAF50; /* Green color */
    transition: width 2s ease; /* Animation duration */
}
.html::before { width: 90%; }
.css::before { width: 85%; }
.c::before { width: 70%; }
.python::before { width: 80%; }
.a1{
    color: #00abf0;
    border-radius: 8px;
    transition: 0.5s;
}
input{
    border-radius: 8px;
}
textarea{
    border-radius: 6px;
    height: 40px;
    width: 40%;
}
.a1:hover{
    background-color: rgba(5, 4, 52, 0.993);
    color: #ddd;
    transition: 1s;
}
.t1{
    color:  rgba(5, 4, 52, 0.993);
    transition: 0.5s;
}
.t1:hover{
    color:  rgba(240, 240, 243, 0.993);
    transition: 0.5s;
}
.k1{
    color: #ddd;
    transition: 0.8s;
    margin: 0;
}
.k1:hover{
    color:rgba(5, 4, 52, 0.993) ;
    transition: 0.8s;
}